@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    flex-grow: 1; /* フッター以外のコンテンツをフレキシブルに */
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 画面全体の高さを確保 */
}

header {
  background-color:#588cf5;
  color: #f5f5f5;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:50px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 13px;
}

nav ul li a:hover {
  text-decoration: underline;
  opacity:0.5;
}

h2{
	text-align:center;
}

form{
	height:0px;
}

.bulk-register-form{
	height:30px;
}


.previous-todolist-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin-left:20px;
}

.previous-todolist-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.previous-todolist-btn:active {
    background-color: #004080;
    transform: scale(0.95);
}



/*成功メッセージ用のスタイル*/
.delete-success{
	display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: #0324ff; /* 背景を赤に */
    width: 600px; /* 幅を指定 */
    height: 3.5vh; /* 高さを指定 */
    border-radius: 7px; /* 角を丸く */
    margin: 0 auto; /* ページ全体の中央に配置 */
}

/* 失敗メッセージ用のスタイル */
.common-error-message, .delete-failure{
	display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: red; /* 背景を赤に */
    width: 600px; /* 幅を指定 */
    height: 3.5vh; /* 高さを指定 */
    border-radius: 7px; /* 角を丸く */
    margin: 0 auto; /* ページ全体の中央に配置 */
}

/*メッセージの共通スタイル*/
.common-error-message h4, .delete-failure h4, .delete-success h4{
	color: white;
    font-size: 15px;
    margin:auto;
    text-align: center; /* テキストを中央揃え */
}


/* 設定ボタンのスタイル */
.setting-button-container {
  position: relative; /* ボタンの基準位置 */
}

#setting-button {
  position: absolute;
  left: 94%; /* お気に入り列の位置に合わせる */
  top: 0px; /* ヘッダーの真上に表示 */
  transform: translateX(-50%); /* ボタンを中央揃え */
  font-size: 22px; /* アイコンサイズ */
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 20; /* テーブルより前面に表示 */
  color:gray;
}

/* カスタムコンテキストメニューのスタイル */
.context-menu {
    visibility:hidden;/* 初期状態では非表示 */
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    font-size:12px;
    left: 90%; /* お気に入り列の位置に合わせる */
}

.context-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.context-menu li a{	
    text-decoration: none;
    color:black;
}

.context-menu li:hover {
    background-color: #f0f0f0;
}


/*　削除確認モーダルのスタイル　*/
#delete_confirm_modal{
  position: fixed;
  width: 350px;
  padding: 20px;
  margin: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  z-index:20;
  visibility:hidden;
}

#delete_confirm_modal h3{
	font-size: 17px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;	
}

/* ボタンのスタイル */
#delete_confirm_modal input[type="submit"] {
  padding: 8px 16px;
  margin: 10px;
  margin-left:50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width:100px;
}

/* キャンセルボタン */
#delete_confirm_modal input[name="delCancel"] {
  background-color: #f5f5f5;
  color: #333;
}

#delete_confirm_modal input[name="delCancel"]:hover {
  background-color: #e0e0e0;
}

/* 決定ボタン */
#delete_confirm_modal input[name="delSubmit"] {
  background-color: #007BFF;
  color: #fff;
}

#delete_confirm_modal input[name="delSubmit"]:hover {
  background-color: #0056b3;
}

#del_mask{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:10;
    visibility:hidden;
}

/* テーブル内のスタイル */
.todo-list-table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin:auto;
    margin-top:50px;
    width:90%;
}

.todo-list-table th, .todo-list-table td {
    border: 1px solid #ddd;
    text-align: center;
}

.todo-list-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    font-size:13px;
    white-space: nowrap;
}

.todo-list-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.todo-list-table tr:hover {
    background-color: #f1f1f1;
}

.todo-list-table th, .todo-list-table td {
    padding: 10px 10px;
}

.todo-list-table th a {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    text-decoration:none;
    line-height: 2em;
  }

.todo-list-table td {
    color: #555;
    font-size:13px;
    overflow-wrap: break-word; /* 長い単語を分割して改行 */
    vertical-align: center;
}

.todo-list-table td a{
	text-decoration:none;
	color:#4d32fa;
}

.todo-list-table td a:hover{
	opacity:0.5;
	text-decoration:underline;
}

/* チェックボックスを隠す */
.custom-checkbox input[type="checkbox"] {
    display: none; /* チェックボックス自体を非表示 */
}

/* ゴミ箱アイコンのスタイル */
.custom-checkbox i {
    font-size: 15px;       /* アイコンサイズ */
    color: #0e7fe3;           /* 通常時の色 */
    cursor: pointer;       /* マウスカーソルをポインタに */
    transition: color 0.3s; /* 色変更のアニメーション */
}

/* チェックされたときのスタイル */
.custom-checkbox input[type="checkbox"]:checked + i {
    color: red;            /* チェック時の色を変更 */
}

/* ソート時の矢印のスタイル */
.sort-arrow{
	font-size: medium;
 	padding:2px;
 	
}

/* お気に入りで絞るモーダルのスタイル */
#filtering-favorite{
	font-size: 20px; /* アイコンの大きさを調整 */
	cursor: pointer; /* カバブアイコンにカーソルを追加 */
	width:20px;
	border:none;
}

#filtering-favorite:hover{
	opacity:0.3;
}


/* タスク検索スタイル */
.search-task{
	width: 300px;
	margin-left:100px;
	margin-top:70px;
}

.search-task input[type="text"]{
	width: 200px;
	height: 15px;
	font-size: 12px;
}

.search-task input[type="submit"]{
	background-color: blue;
	border-radius: 5px;
	border:none;
	width:50px;
	height:23px;
	color:white;
	font-size:9px;
}

.search-task input[type="submit"]:hover{
	opacity: 0.5;
}

/*　ページネーションのスタイル　*/
.main-wrapper-pagination {
    text-align: center;
    margin: 10px 0;
}

.main-wrapper-pagination ul {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
}

.main-wrapper-pagination li {
    margin: 0 5px;
}

.main-wrapper-pagination a {
    display: block;
    padding: 3px 3px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.main-wrapper-pagination a:hover {
    background-color: #028be6;
    color: white;
}

.main-wrapper-pagination li.current-page {
    padding: 5px 12px;
    background-color:#028be6;
    color: white;
    border: 1px solid #007bff;
    border-radius: 5px;
    pointer-events: none;
    font-size:12px;
}

.main-wrapper-pagination li a {
    font-size:13px;
}

.main-wrapper-pagination a.disabled {
    background-color: #e0e0e0;
    color: #999;
    pointer-events: none;
}


/* フッターを画面の下に配置するスタイル */
footer {
	background-color:#588cf5;
	color: #f5f5f5;
	text-align: center;
	padding: 10px;
	width: 100%;
}

.footer{
	margin-top:90px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* コンテンツとフッターを下に分ける */
}

.wrapper p{
    text-align: center;
    padding: 10px;
}