@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    flex-grow: 1; /* フッター以外のコンテンツをフレキシブルに */
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 画面全体の高さを確保 */
}

header {
  background-color:#588cf5;
  color: #f5f5f5;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:50px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 13px;
}

nav ul li a:hover {
  text-decoration: underline;
  opacity:0.5;
}

h2{
	text-align:center;
}

form{
	height:40px;
}

/*　タスク登録のスタイル　*/
.bulk-register-list input[type="submit"] {
    background-color: #138201; 
    color: white;              
    padding: 8px 13px;
    width: 150px;  
    font-size: 13px;           
    border: none;              
    border-radius: 10px;       
    cursor: pointer;
    margin-left:10px;
}

.bulk-register-list input[type="submit"]:hover {
    opacity: 0.7;
}

input[type="file"]{
	margin-left: 170px;
	position: relative;
	top: -30px;
	font-size: 12px;
}

/* 個別登録のスタイル */
.register-list button{
	background-color: #20d404; 
    color: white;              
    padding: 8px 13px;
    width: 150px;  
    font-size: 13px;           
    border: none;              
    border-radius: 10px;       
    cursor: pointer;
    margin-left:10px;
}

.register-list button:hover{
	opacity: 0.7;
}

.register-list{
	margin-top: 15px;
	width: 295px;
	display: inline-block; /* 横並びにする */
    vertical-align: middle; /* 上下中央に揃える */
}

/* 削除ボタンのスタイル */
.delete-bulk-list{
	width:100%;
}

.delete-bulk-list input[type="submit"], .delete-individual-list input[type="submit"]{
	background-color: red; 
    color: white;              
    padding: 8px 13px;
    width: 180px;  
    font-size: 13px;           
    border: none;              
    border-radius: 10px;       
    cursor: pointer;
    margin-right:10px;
}

.delete-bulk-list input[type="submit"]:hover, .delete-individual-list input[type="submit"]:hover{
	opacity: 0.7;
}

.delete-bulk-list{
	display:flex;
	justify-content:flex-end;
	margin-top: -60px;
	margin-bottom:20px;
}

.delete-individual-list{
	display:flex;
	justify-content:flex-end;
	margin-top: -110px;
	margin-bottom:80px;
}


/*　削除確認モーダルのスタイル　*/
#delete_confirm_modal {
  position: fixed;
  width: 650px;
  padding: 20px;
  margin: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  z-index:20;
  visibility:hidden;
}

#delete_confirm_modal h3{
	font-size: 17px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;	
}

/* ボタンのスタイル */
#delete_confirm_modal input[type="submit"] {
  padding: 8px 16px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* キャンセルボタン */
#delete_confirm_modal input[name="delCancel"] {
  background-color: #f5f5f5;
  color: #333;
}

#delete_confirm_modal input[name="delCancel"]:hover {
  background-color: #e0e0e0;
}

/* 決定ボタン */
#delete_confirm_modal input[name="delSubmit"] {
  background-color: #007BFF;
  color: #fff;
}

#delete_confirm_modal input[name="delSubmit"]:hover {
  background-color: #0056b3;
}

#del_mask{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:10;
    visibility:hidden;
}


/* CSV出力スタイル */
.export-csvfile input[type="submit"]{
	background-color: #833efa; 
    color: white;              
    padding: 8px 13px;
    width: 150px;  
    font-size: 13px;           
    border: none;              
    border-radius: 10px;       
    cursor: pointer;
    margin-left:10px;
}

.export-filter-csv button{
	background-color: #3c02a1; 
    color: white;              
    padding: 8px 13px;
    width: 170px;  
    font-size: 13px;           
    border: none;              
    border-radius: 10px;       
    cursor: pointer;
    margin-left:10px;
}

.export-csvfile input[type="submit"]:hover{
	opacity: 0.7;
}

.export-filter-csv button:hover{
	opacity: 0.7;
}

.export-csvfile{
	margin-top: 20px;
	width: 295px;
	display: inline-block; /* 横並びにする */
    vertical-align: middle; /* 上下中央に揃える */
}

.export-filter-csv{
	margin-top:-20px;
	margin-left:170px;
	width: 295px;
}

/* 失敗メッセージ用のスタイル */
.delete-failure, .register-faliure-message, .common-error-message{
	display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: red; /* 背景を赤に */
    width: 600px; /* 幅を指定 */
    height: 3.5vh; /* 高さを指定 */
    border-radius: 7px; /* 角を丸く */
    margin: 0 auto; /* ページ全体の中央に配置 */
}

.register-faliure-message{
	margin-bottom:10px;
}

/*成功メッセージ用のスタイル*/
.register-submit-message, .delete-success{
	display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: #0324ff; /* 背景を赤に */
    width: 600px; /* 幅を指定 */
    height: 3.5vh; /* 高さを指定 */
    border-radius: 7px; /* 角を丸く */
    margin: 0 auto; /* ページ全体の中央に配置 */
}

.delete-failure h4, .delete-success h4, 
.register-faliure-message h4, .register-submit-message h4, .common-error-message h4{
	color: white;
    font-size: 15px;
    margin:auto;
    text-align: center; /* テキストを中央揃え */
}

.todo-list-table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin:auto;
    margin-top:20px;
    width:90%;
}

.todo-list-table th, .todo-list-table td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center;
}

.todo-list-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    font-size:13px;
}

.todo-list-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.todo-list-table tr:hover {
    background-color: #f1f1f1;
}

.todo-list-table th, .todo-list-table td {
    padding: 10px 10px;
}

.todo-list-table td {
    color: #555;
    font-size:13px;
}

.todo-list-table td a{
	text-decoration:none;
	color:#4d32fa;
}

.todo-list-table td a:hover{
	opacity:0.5;
	text-decoration:underline;
}

/* タスク検索スタイル */
.search-task{
	width: 300px;
	margin-left:100px;
}

.search-task input[type="text"]{
	width: 200px;
	height: 15px;
	font-size: 12px;
}

.search-task input[type="submit"]{
	background-color: blue;
	border-radius: 5px;
	border:none;
	width:50px;
	height:23px;
	color:white;
	font-size:9px;
}

.search-task input[type="submit"]:hover{
	opacity: 0.5;
}


/*タスク登録モーダル ・　フィルタ―CSV出力モーダル*/
#register_task, #export-csv-filter {
    position: fixed;
    width: 650px;
    padding: 20px;
    margin: auto;
    padding: 20px;
    top: 50%;
    left: 50%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    z-index:20;
    visibility:hidden;
}

#register_task h1, #export-csv-filter h1{
    font-size: 17px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

#register_task #id, #export-csv-filter #filter_id{
	width:100px;
}

#register_task input[type="text"],
#export-csv-filter input[type="text"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#register_task input[type="submit"],
#export-csv-filter input[type="submit"]{
    width: 100%;
    padding: 8px;
    margin: 5px 1%;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#register_task #register_cancel,
#export-csv-filter #filter_cancel{
    background-color: #d9534f;
}

#register_task #register_submit,
#export-csv-filter #filter_submit{
    background-color: #21aaff;
}

#register_task input[type="submit"]:hover,
#export-csv-filter input[type="submit"]:hover{
    opacity: 0.7;
}

#register_mask, #export-csv-filter-mask{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:10;
    visibility:hidden;
}


/* フッターを画面の下に配置するスタイル */
footer {
	background-color:#588cf5;
	color: #f5f5f5;
	text-align: center;
	padding: 10px;
	width: 100%;
}

.footer{
	margin-top:90px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* コンテンツとフッターを下に分ける */
}

.wrapper p{
    text-align: center;
    padding: 10px;
}